# https://help.github.com/articles/ignoring-files

*.log
.yarn-integrity
yarn.lock
package-lock.json

# Production build
dist

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# System Files
*.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
